@import url("components/button.css");
@import url("components/footer.css");
@import url("components/screen.css");

:root {
  --background: #3C354F;
  --font: #F0DC80;
  --screen: #3C354F;
  --calculator: #3C354F;
  --btn: #F0DC80;
  --btn-hover: #7EBED8;
  --btn-active: #6baac4;
  --btn-clear: #5AC9B0;
  --btn-clear-hover: #52B695;
  --btn-claer-active: #3fa181;
  --btn-delete: #EF5F30;
  --btn-delete-hover: #DC462B;
  --btn-delete-active: #b62b12;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  background-color: var(--background);
  font-family: 'Acme', sans-serif;
  color: var(--font);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68vh;
  min-height: 500px;
  padding: 10px;
  margin-top: 50px;
}

.calculator {
  width: 400px;
  border-radius: 12px;
  padding: 20px;
  background-color: var(--calculator);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
