.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

.span-2 {
  grid-column: span 2;
}

button {
  color: #3C354F;
  border: none;
  font-family: inherit;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}

.btn {
  color: #3C354F;
  padding: 20px;
  text-decoration: none;
  border: 0;
  border-radius: 50%;
  background-color: var(--btn);
}

.btn:hover {
  color: #3C354F;
  background-color: var(--btn-hover);
}

.btn:active {
  color: #3C354F;
  background-color: var(--btn-active);
}

.btn-clear {
  width: 150px;
  height: 68px;
  color: #3C354F;
  border: 0;
  background-color: var(--btn-clear);
  position: relative;
}

.btn-clear:before {
  content: "";
  width: 150px;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  color: #3C354F;
  border-bottom: 20px solid var(--btn-clear);
  border-left: 20px solid #3C354F;
  border-right: 20px solid #3C354F;
}

.btn-clear:after {
  content: "";
  width: 150px;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #3C354F;
  border-top: 20px solid var(--btn-clear);
  border-left: 20px solid #3C354F;
  border-right: 20px solid #3C354F;
}

.btn-clear:before:after:hover {
  color: #3C354F;
  background-color: var(--btn-clear-hover);
}

.btn-clear:before:after:active {
  color: #3C354F;
  background-color: var(--btn-clear-active);
}

.btn-delete {
  width: 150px;
  height: 68px;
  color: #3C354F;
  border: 0;
  background-color: var(--btn-delete);
  position: relative;
}

.btn-delete:before {
  content: "";
  width: 150px;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  color: #3C354F;
  border-bottom: 20px solid var(--btn-delete);
  border-left: 20px solid #3C354F;
  border-right: 20px solid #3C354F;
}

.btn-delete:after {
  content: "";
  width: 150px;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #3C354F;
  border-top: 20px solid var(--btn-delete);
  border-left: 20px solid #3C354F;
  border-right: 20px solid #3C354F;
}

.btn-delete:before:after:hover {
  color: #3C354F;
  background-color: var(--btn-delete-hover);
}

.btn-delete:before:after:active {
  color: #3C354F;
  background-color: var(--btn-delete-active);
}
