.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

button {
  color: #3C354F;
  border: none;
  font-family: inherit;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}

.span-2 {
  grid-column: span 2;
}

.btn-clear {
  height: 62px;
  border-radius: 16px;
  background-color: var(--btn-clear);
}

.btn-clear:hover {
  color: #3C354F;
  background-color: var(--btn-clear-hover);
}

.btn-clear:active {
  color: #3C354F;
  background-color: var(--btn-clear-active);
}

.btn-delete {
  height: 62px;
  border-radius: 16px;
  background-color: var(--btn-delete);
}

.btn-delete:hover {
  color: #3C354F;
  background-color: var(--btn-delete-hover);
}

.btn-delete:active {
  color: #3C354F;
  background-color: var(--btn-delete-active);
}

.btn {
  color: #3C354F;
  padding: 20px;
  text-decoration: none;
  border: 0;
  border-radius: 50%;
  background-color: var(--btn);
}

.btn:hover {
  color: #3C354F;
  background-color: var(--btn-hover);
}

.btn:active {
  color: #3C354F;
  background-color: var(--btn-active);
}
