.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  color: #3C354F;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

.btn {
  color: #3C354F;
  padding: 20px;
  text-decoration: none;
  border: 0;
  border-radius: 50%;
  background-color: var(--btn);
  font-size: 20px;
}

.btn:hover {
  color: #3C354F;
  background-color: var(--btn-hover);
}

.btn:active {
  color: #3C354F;
  background-color: var(--btn-active);
}

.btn-red {
  color: #3C354F;
  border-radius: 20px;
  background-color: var(--btn-red);
}

.btn-red:hover {
  color: #3C354F;
  background-color: var(--btn-red-hover);
}

.btn-red:active {
  color: #3C354F;
  background-color: var(--btn-red-active);
}

.btn-blue {
  color: #3C354F;
  border-radius: 20px;
  background-color: var(--btn-blue);
}

.btn-blue:hover {
  color: #3C354F;
  background-color: var(--btn-blue-hover);
}

.btn-blue:active {
  color: #3C354F;
  background-color: var(--btn-blue-active);
}
